body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'figtree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card{
    background-color: white;
    width: 320px;
    border-radius: 15px;
    box-shadow: 8px 8px 0px black;
    padding: 20px;
    border: 1px solid black;
}
.card-image{
    width: 100%;
    border-radius: 10px;
}
.tag{
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 15px;
}
.date{
    color: hsl(0, 0%, 63%);
    font-size: 14px;
}
.title{
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0;
}
.description{
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    line-height: 1.5;
}
.author{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.avatar{
    width: 35px;
    border-radius: 50px;
}
.name{
    font-weight: bold;
}